/* line 4, /home/ubuntu/rp/mixedPx/app/assets/stylesheets/mainpage.css.scss */
.siteHeader {
  height: 100%;
  text-align: center;
  width: 100%;
  position: relative;
  color: #fff;
  overflow: hidden;
}

/* line 13, /home/ubuntu/rp/mixedPx/app/assets/stylesheets/mainpage.css.scss */
.siteHeader-inner {
  display: block;
  vertical-align: bottom;
  position: absolute;
  z-index: 2;
  bottom: 3.5rem;
  width: 100%;
  left: 0px;
}
@media only screen and (max-width: 639px) {
  /* line 13, /home/ubuntu/rp/mixedPx/app/assets/stylesheets/mainpage.css.scss */
  .siteHeader-inner {
    display: none;
  }
}

/* line 27, /home/ubuntu/rp/mixedPx/app/assets/stylesheets/mainpage.css.scss */
.siteHeader-inner .item {
  opacity: 0.6;
  -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;
}

/* line 32, /home/ubuntu/rp/mixedPx/app/assets/stylesheets/mainpage.css.scss */
.siteHeader-inner .item:hover {
  opacity: 1;
}

/* line 36, /home/ubuntu/rp/mixedPx/app/assets/stylesheets/mainpage.css.scss */
.siteHeader .siteHeader-name {
  font-size: 1.2em;
  text-transform: uppercase;
  font-family: "helveticaneuecyrlight";
  opacity: 0.4;
  position: absolute;
  z-index: 3;
  right: 3.5rem;
  bottom: 3.5rem;
  -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;
}

/* line 48, /home/ubuntu/rp/mixedPx/app/assets/stylesheets/mainpage.css.scss */
.siteHeader .siteHeader-name:hover {
  opacity: 1;
}

/* line 52, /home/ubuntu/rp/mixedPx/app/assets/stylesheets/mainpage.css.scss */
.siteHeader .siteHeader-name a {
  color: #fff;
}

/* line 56, /home/ubuntu/rp/mixedPx/app/assets/stylesheets/mainpage.css.scss */
.siteHeader-inner .ui.avatar.image {
  height: 5em;
  width: 5em;
  border: 4px solid rgba(255, 255, 255, 0.75);
}

/* line 62, /home/ubuntu/rp/mixedPx/app/assets/stylesheets/mainpage.css.scss */
.siteHeader-inner .ui.list > .item > .content {
  text-align: left;
  line-height: 1.2em;
  font-size: 0.9em;
}

/* line 68, /home/ubuntu/rp/mixedPx/app/assets/stylesheets/mainpage.css.scss */
.siteHeader-inner .ui.list > .item > .content .header {
  font-family: "helveticaneuecyrlight";
  padding-bottom: 10px;
  font-size: 1.3em;
}

/* line 74, /home/ubuntu/rp/mixedPx/app/assets/stylesheets/mainpage.css.scss */
.siteHeader-inner .ui.list > .item > .content .header span {
  text-transform: uppercase;
}

/* line 79, /home/ubuntu/rp/mixedPx/app/assets/stylesheets/mainpage.css.scss */
.siteHeader .logobox {
  position: absolute;
  top: 30%;
  left: 0px;
  width: 100%;
  text-align: center;
  z-index: 3;
  font-family: "helveticaneuecyrlight";
  font-size: 1.2em;
}
/* line 88, /home/ubuntu/rp/mixedPx/app/assets/stylesheets/mainpage.css.scss */
.siteHeader .logobox .title {
  font-size: 60px;
  margin: 10px 0 5px;
}
/* line 91, /home/ubuntu/rp/mixedPx/app/assets/stylesheets/mainpage.css.scss */
.siteHeader .logobox .title span {
  font-size: 20px;
  position: relative;
  top: -20px;
  left: 5px;
}
@media only screen and (max-width: 639px) {
  /* line 79, /home/ubuntu/rp/mixedPx/app/assets/stylesheets/mainpage.css.scss */
  .siteHeader .logobox {
    top: 20%;
    font-size: 14px;
  }
  /* line 101, /home/ubuntu/rp/mixedPx/app/assets/stylesheets/mainpage.css.scss */
  .siteHeader .logobox .title {
    font-size: 35px;
  }
  /* line 103, /home/ubuntu/rp/mixedPx/app/assets/stylesheets/mainpage.css.scss */
  .siteHeader .logobox .title span {
    font-size: 16px;
  }
  /* line 108, /home/ubuntu/rp/mixedPx/app/assets/stylesheets/mainpage.css.scss */
  .siteHeader .logobox .description {
    width: 60%;
    margin: 0 auto;
    position: relative;
  }
  /* line 112, /home/ubuntu/rp/mixedPx/app/assets/stylesheets/mainpage.css.scss */
  .siteHeader .logobox .description .ui.divider {
    margin: .2em 0;
  }
  /* line 115, /home/ubuntu/rp/mixedPx/app/assets/stylesheets/mainpage.css.scss */
  .siteHeader .logobox .description .svg-wrapper {
    position: relative;
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
    left: 50%;
  }
}

/* line 125, /home/ubuntu/rp/mixedPx/app/assets/stylesheets/mainpage.css.scss */
.siteHeader .bg_image {
  display: block;
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

/* line 135, /home/ubuntu/rp/mixedPx/app/assets/stylesheets/mainpage.css.scss */
#logo_svg path {
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  fill: none;
  display: none;
}

/* line 146, /home/ubuntu/rp/mixedPx/app/assets/stylesheets/mainpage.css.scss */
.svg-wrapper {
  margin: 0 auto;
  width: 320px;
  display: block;
}

/* line 152, /home/ubuntu/rp/mixedPx/app/assets/stylesheets/mainpage.css.scss */
.svg-wrapper .shape {
  stroke-dasharray: 140 400;
  stroke-dashoffset: -400;
  stroke-width: 8px;
  stroke-miterlimit: 10;
  fill: transparent;
  stroke: #fff;
  border-bottom: 5px solid black;
  -webkit-transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
          transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

/* line 162, /home/ubuntu/rp/mixedPx/app/assets/stylesheets/mainpage.css.scss */
.svg-wrapper svg {
  margin-bottom: -48px;
}

/* line 165, /home/ubuntu/rp/mixedPx/app/assets/stylesheets/mainpage.css.scss */
.svg-wrapper .text {
  font-size: 22px;
  line-height: 32px;
  color: #fff;
  position: relative;
  font-family: "helveticaneuecyrlight";
  display: block;
}

/* line 174, /home/ubuntu/rp/mixedPx/app/assets/stylesheets/mainpage.css.scss */
.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 660;
}
