<div class="ui vertical main basic segment">
       <div class="ui stackable page grid">
        <div class="row">
    		<img src="<%=@photo.local_image_url%>" alt="">
        </div>
      </div>
  </div>