      <div class="ui stackable page photo_detail grid">
        <div class="row">
    		<img class="ui centered image" src="<%=@photo.thumbnails.url(:compressed)%>" alt="">
        </div>
      </div>