// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ui.vertical.main.basic.segment {
   @media only screen and (max-width: 639px){ 
      position:relative;
      top: 200px;
   }
}

@media only screen and (max-width: 639px){ 
   .photo_detail .sharebox {
    text-align: center;
    padding-top: 15px;
   }

   .help.column .list {
    display:none;
   }

}